body{
    background-color: yellow;
}

td{
    border: 2px solid;
}
form{
    background-color: orange;
}
table{
    background-color: orange;
}
a{
    background-color: rgb(0, 0, 0);
}