* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #f1f5fc;
}
.navbar {
    background-color: #308dff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.menu {
    display: flex;
    align-items: center;
}
.search-container {
    position: relative;
    margin-left: 20px;
}
.search-box {
    display: none;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    outline: none;
}
.search-icon, .close-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.menu-icon {
    font-size: 26px;
    color: white;
    cursor: pointer;
    display: none;
}
.mobile-menu {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    transition: 0.3s;
}
.mobile-menu ul {
    list-style: none;
    padding: 20px;
    margin-top: 50px;
}
.mobile-menu ul li {
    margin: 20px 0;
}
.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.close-btn {
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }   
    .menu-icon {
        display: block;
    }
    .search-box {
        display: block;
    }
}
